@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');


.fontdinerSwankyRegular {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
  }
  